INFINITE_PAY_HANDLE="john-doe-f4523"
PORT=4000
FRONTEND_URL=https://yoursite-here.com
TICKET_PRICE=5000
DATABASE_URL="postgresql://111.111.111:1111/user:pass/schema"
DATABASE_URL_UNPOOLED="postgresql://111.111.111:1111/user:pass/schema"
NEON_BRANCH=production
